@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0072FF;
  --color-secondary: #02358B;
  --color-text: #323C4F;
  --color-danger: #ff0000;
  --color-dangerAct: #dc2626;
  --color-background: #CCE3FF;
  --color-WtB: #FFFFFF;
  --color-WtBAct: #f1f5f9;
  --color-BtW: #000000;
  --color-BtWAct: #333232;
  --color-ash: #f3f4f6;
  --color-ashAct: #d1d5db;
  --color-hsa: #374151;
  --color-hsaAct: #111827;
}

.dark {
  --color-primary: #FFEA00;
  --color-secondary: #c2b30c;
  --color-text: #d8d6d6;
  --color-danger: #ef4444;
  --color-dangerAct: #b91c1c;
  --color-background: #051cac;
  --color-WtB: #111827;
  --color-WtBAct: #1F2937;
  --color-BtW: #FFFFFF;
  --color-BtWAct: #cfcdcd;
  --color-ash: #374151;
  --color-ashAct: #111827;
  --color-hsa: #f3f4f6;
  --color-hsaAct: #d1d5db;
}
